// @import "../abstracts/mixins";

body {
	@include scrollbar;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	max-width: 100vw;
	min-height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-contrast-higher);
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.main-wrapper {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.main-wrapper__content {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	max-width: var(--tablet);
	margin: 0 auto;
	padding: 0 var(--mobile-padding);
}

.main-wrapper__content__component {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	flex: 1;
}

[v-cloak] {
	display: none;
}
