@import "~rfs/scss";

/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto"), local("Roboto-Regular"),
		url("/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
		url("/fonts/roboto-v20-latin-regular.woff") format("woff");
}
/* roboto-700 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Roboto Bold"), local("Roboto-Bold"),
		url("/fonts/roboto-v20-latin-700.woff2") format("woff2"),
		url("/fonts/roboto-v20-latin-700.woff") format("woff");
}

/* montserrat-700 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Montserrat Bold"), local("Montserrat-Bold"),
		url("/fonts/montserrat-v14-latin-700.woff2") format("woff2"),
		url("/fonts/montserrat-v14-latin-700.woff") format("woff");
}

// -> https://google-webfonts-helper.herokuapp.com/fonts

body {
	@include font-size(18px);
	line-height: var(--base-line-height);
	font-weight: var(--base-font-weight);
	font-family: var(--base-font-family);
}

h1,
h2,
h3,
h4 {
	line-height: var(--headings-line-height);
	font-weight: var(--headings-font-weight);
	font-family: var(--headings-font-family);
	text-rendering: optimizeLegibility;
	word-break: break-word;
}

// Formular: f(x) = 0.6*1.3^x

h1 {
	@include font-size(4.2rem);
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h2 {
	@include font-size(2.2rem);
}

h3 {
	@include font-size(1.7rem);
}

h4 {
	@include font-size(1.3rem);
}

h5 {
	@include font-size(1rem);
}

h6 {
	@include font-size(0.8rem);
}

i {
	cursor: inherit;
	vertical-align: middle;
}

strong {
	font-weight: normal;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	color: inherit;
	&:focus {
		color: var(--color-contrast-higher);
		outline: none;
	}
}

.card__text {
	@include font-size(1.5rem);
}

.czar-header__text {
	@include font-size(1.9rem);
}

.czar-header__name {
	@include font-size(2.5rem);
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-bg);
}
