.form__input {
	display: block;
	outline: none;
	border: none;
	appearance: none;
	background: transparent;
	height: 3.5rem;
	min-width: 17.5rem;
	font-family: inherit;
	line-height: $base-line-height;
	font-weight: $headings-font-weight;
	padding: 0 1.2rem;
	border-radius: $border-radius;
	transition: all $duration-short $standard-easing;
	&[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		appearance: none;
		margin: 0;
	}
	&[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
	&:focus {
		box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.03), 0 0 0.5rem #161616;
	}
}

.form__input--primary {
	background-color: $color-black;
	color: $color-white;
}

.form__lable {
	position: absolute;
	color: $color-grey;
	font-weight: 700;
	line-height: 1.35;
	top: 1rem;
	left: 1.2rem;
	cursor: text;
	transition: all $duration-short $standard-easing;
}

.form__input:focus + .form__lable,
.form__input:valid + .form__lable {
	font-size: 0.8em;
	font-weight: 400;
	top: -1.5rem;
	left: 0.4rem;
	cursor: default;
}

.form__input-group {
	position: relative;
	margin-bottom: 1.5rem;
}

.form__input--invalid {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.error-message {
	color: $color-red;
	width: 17.5rem;
	display: inline-block;
	padding: 0.6rem;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	background-color: rgba($color-red, 0.2);
}

.error-message__transition-enter-active,
.error-message__transition-leave-active {
	transition: all $duration-mid $standard-easing;
}

.error-message__transition-enter,
.error-message__transition-leave-to {
	opacity: 0;
}

// -> https://dev.to/peiche/css-only-floating-label-3cp

.btn {
	display: block;
	outline: none;
	border: none;
	appearance: none;
	cursor: pointer;
	background: transparent;
	height: 3.5rem;
	min-width: 17.5rem;
	font-family: inherit;
	line-height: $base-line-height;
	font-weight: $headings-font-weight;
	padding: 0 1.2rem;
	border-radius: $border-radius;
	transition: all $duration-short $standard-easing;
	&:hover {
		box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.03), 0 0 0.3rem #161616;
	}
}

.btn--primary {
	background-color: $color-black;
	color: $color-white;
	&:focus {
		// outline: 0.2rem dotted $color-black;
		// outline-offset: 0.2rem;
		border: 0.2rem solid $color-black;
		background-color: $color-white;
		color: $color-black;
		box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.03), 0 0 0.3rem #161616;
	}
}

.btn--secondary {
	border: 0.2rem solid $color-black;
	text-transform: uppercase;
	&:focus {
		border: none;
		background-color: $color-black;
		color: $color-white;
		box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.03), 0 0 0.3rem #161616;
	}
}

.btn-back {
	display: block;
	outline: none;
	border: none;
	appearance: none;
	cursor: pointer;
	background: transparent;
	height: 3.5rem;
	font-family: inherit;
	line-height: $base-line-height;
	font-weight: $headings-font-weight;
	padding: 0 1.2rem;
}
