.form__input {
  display: block;
  outline: none;
  border: none;
  appearance: none;
  background: transparent;
  height: 3.5rem;
  min-width: 17.5rem;
  font-family: inherit;
  line-height: $base-line-height;
  font-weight: $headings-font-weight;
  padding: 0 1.2rem;
  border-radius: $border-radius;
  &[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
  &[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  &::placeholder {
    // font-size: 0.8em;
    color: $color-grey;
  }
  transition: all $duration-short $standard-easing;
  &:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 0.3rem $color-black;
  }
}

.form__input--primary {
  background-color: $color-black;
  color: $color-white;
}

// .form__lable {
//   font-size: 0.8em;
//   color: $color-grey;
//   margin-left: $border-radius; 
// }

.form__lable {
  position: absolute;
  color: $color-grey;
  font-weight: 700;
  top: 1rem;
  line-height: 1.35;
  left: 1.2rem;
  cursor: text;
  transition: all $duration-short $standard-easing;
}

.form__input:focus + .form__lable,
.form__input:valid + .form__lable {
  font-size: 0.8em;
  font-weight: 400;
  top: -1.5rem;
  left: 0.4rem;
  cursor: default;
}

.form__input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.btn {
  display: block;
  outline: none;
  border: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
  height: 3.5rem;
  min-width: 17.5rem;
  font-family: inherit;
  line-height: $base-line-height;
  font-weight: $headings-font-weight;
  padding: 0 1.2rem;
  border-radius: $border-radius;
}

.btn--primary {
  background-color: $color-black;
  color: $color-white;
}

.btn--secondary {
  border: 0.2rem solid $color-black;
  text-transform: uppercase;
  transition: all $duration-short $standard-easing;
  &:hover, &:focus, &:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 0.3rem $color-black;
  }
}