.form__input {
  display: block;
  outline: none;
  border: none;
  appearance: none;
  background: transparent;
  height: 3.5rem;
  min-width: 17.5rem;
  font-family: inherit;
  line-height: $base-line-height;
  font-weight: $headings-font-weight;
  padding: 0 1.2rem;
  border-radius: $border-radius;
  &[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
  &[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  &::placeholder {
    font-size: 0.8em;
  }
  transition: all $duration-short $standard-easing;
  &:hover, &:focus, &:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 0.3rem $color-black;
  }
}

.form__input--primary {
  background-color: $color-black;
  color: $color-white;
}

.form__lable {
  font-size: 0.8em;
  color: $color-grey;
  margin-left: $border-radius; 
}

.btn {
  display: block;
  outline: none;
  border: none;
  appearance: none;
  background: transparent;
  height: 3.5rem;
  min-width: 17.5rem;
  font-family: inherit;
  line-height: $base-line-height;
  font-weight: $headings-font-weight;
  padding: 0 1.2rem;
  border-radius: $border-radius;
}

.btn--primary {
  background-color: $color-black;
  color: $color-white;
}

.btn--secondary {
  border: 0.2rem solid $color-black;
  text-transform: uppercase;
  transition: all $duration-short $standard-easing;
  &:hover, &:focus, &:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 0.3rem $color-black;
  }
}