.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  float: right;
  margin: 0 auto;
  padding: 0 $mobile-padding;
}

.main-wrapper {
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 $mobile-padding;
  display: flex;
  flex-flow: column wrap;
}

.create-or-join-wrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.sign-in-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex: 1;
}

.server-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  
}