/* Imports
   ========================================================================== */

@import "partials/vars";

@import "~@zellwk/css-reset/reset";

@import "partials/layout";
@import "partials/scrollbar";
@import "partials/forms";
@import "partials/typography";


/* Miscellaneous
   ========================================================================== */

body {
    max-width: 100vw;
    min-height: 100vh;
    background-color: $color-white;
    color: $color-black;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#app {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

#nprogress .bar {
    background: $color-primary-sub;
}

#nprogress .spinner {
   display: none !important;
}

.spinner {
    height: 100%;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.app-spinner-wrapper {
    display: grid;
    grid-template-rows: 0 4rem calc(100vh - 12rem) 8rem;
}

// http://vuetips.com/v-cloak-directive-hides-html-on-startup
[v-cloak] {
    display: none
}


// Header

.header {
    text-align: center;
    padding: 1rem 0;
}

.header__text {
    color: $color-primary;
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(transparent 0%, transparent 65%, $color-secondary 65%, $color-secondary 90%, transparent 90%, transparent);
}

.is-valid {
    color: olive;
}

// create-or-join View

.create-or-join {

}


// Footer

.footer {
    color: $color-grey;
    font-size: 0.8em;
}

.footer__list {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.footer__item {
    list-style: none;
    margin-left: 1rem;
}

.footer__item--first {
    margin-left: 0;
}

// - >  https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886