.form__input {
	display: block;
	outline: none;
	border: none;
	appearance: none;
	background: transparent;
	height: 3.5rem;
	min-width: 17.5rem;
	font-family: inherit;
	line-height: var(--base-line-height);
	font-weight: var(--headings-font-weight);
	padding: 0 1.2rem;
	border-radius: var(--border-radius);
	transition: all var(--duration-short) var(--standard-easing);
	&[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		appearance: none;
		margin: 0;
	}
	&[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
	&:focus {
		box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.03), 0 0 0.5rem #161616;
	}
}

.form__input--primary {
	background-color: var(--color-contrast-higher);
	color: var(--color-bg);
}

.form__lable {
	position: absolute;
	color: var(--color-contrast-medium);
	font-weight: 700;
	line-height: 1.35;
	top: 1rem;
	left: 1.2rem;
	cursor: text;
	transition: all var(--duration-short) var(--standard-easing);
}

.form__input:focus + .form__lable,
.form__input:valid + .form__lable {
	font-size: 0.8em;
	font-weight: 400;
	top: -1.5rem;
	left: 0.4rem;
	cursor: default;
}

.form__input-group {
	position: relative;
	margin-bottom: 1.5rem;
}

.form__input--invalid {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.error-message {
	color: var(--color-red);
	width: 17.5rem;
	display: inline-block;
	padding: 0.6rem;
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	background-color: rgba(var(--color-red), 0.2);
}

.error-message__transition-enter-active,
.error-message__transition-leave-active {
	transition: all var(--duration-mid) var(--standard-easing);
}

.error-message__transition-enter,
.error-message__transition-leave-to {
	opacity: 0;
}

// -> https://dev.to/peiche/css-only-floating-label-3cp
