.site-header {
	text-align: center;
	padding: 1rem 0;
	width: 100%;
}

.site-header__text {
	color: var(--color-primary);
	text-decoration: none;
	display: inline;
	background-image: linear-gradient(
		transparent 0%,
		transparent 65%,
		var(--color-secondary) 65%,
		var(--color-secondary) 90%,
		transparent 90%,
		transparent
	);
	transition: background-image var(--duration-short) var(--standard-easing);
	&:focus {
		// outline: 0.2rem dotted $color-light-grey;
		// outline-offset: $border-radius;
		outline: none;
		color: var(--color-primary);
		background-image: linear-gradient(
			transparent 0%,
			transparent 65%,
			var(--color-contrast-low) 65%,
			var(--color-contrast-low) 90%,
			transparent 90%,
			transparent
		);
	}
}
